@model IEnumerable<Models.MovieGenre>

@{
    ViewData["Title"] = "Index";
}

<body style="background-color:rgb(67 207 199);">
    @if (User.IsInRole("Administrator"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Movie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                @if (User.IsInRole("Administrator"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { item.MovieId, item.GenreId })
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>
</body>
